<div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h2>Skychimp</h2>
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'app_mailing:index' %}" class="nav-link px-2 link-secondary">Главная</a></li>
    <li><a href="{% url 'app_mailing:mailing_list' %}" class="nav-link px-2">Рассылки</a></li>
    <li><a href="#" class="nav-link px-2">Блог</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>
</div>